.register{
    margin-bottom: -50px;
   
    z-index: 999;
}
.reg-page{
    background-image: url('https://i.ibb.co/Dw44vw7/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(6, 0, 12, 0.925);
    background-blend-mode:darken,luminosity;
    width: 100%;
}