.register{
    margin-bottom: -55px;
    z-index:3;
   position:relative;
    
}
.reg-page{
    background-image: url('https://i.ibb.co/Dw44vw7/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(20, 2, 37, 0.931);
    background-blend-mode:darken,luminosity;
    width: 100%;
}
/* h1{
    color:rgb(226, 229, 245)
} */