/* .banner-style{
    background-image: url('https://i.ibb.co/Dw44vw7/banner.jpg');
    background-repeat: no-repeat;
    width:100%;
    background-color: rgba(6, 6, 80, 0.529);
    background-blend-mode: 'darken, luminosity';
   
    background-size: cover;
} */
icon{
    font-size: 120px;
    color:white;
}
.river-rides{
    background-color: rgba(29, 4, 82);
    color:white
}
.water-slide{
    background-color: rgba(4, 76, 82);
    color:white
}
.pools{
    background-color: rgba(62, 75, 5);
    color:white
}
.thumbnail{
    background-image: url('https://thumbs.gfycat.com/DeadlyJointGoose-small.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.service-style{
    margin-top: -80px;
}


.btn-regular{
    background-color:rgb(101, 19, 233) ;
    color: white;
    padding:8px 25px;
    border:0
}
.btn-regular:hover{
    border:3px solid rgb(59, 18, 124);
    background-color:rgb(238, 232, 247) ;
    color: rgb(8, 0, 0);
    font-weight: 700;
}

